
*{
    margin: 0;
    padding: 0;
}
body{ 
   
    background-image: url("images.jpg");
     background-position: center;
    background-size: cover;
    font-family:sans-serif ;
    margin-top: 40px;
 } 
 .regform{
     width: 800px;
     background-color: rgb(0,0,0,0.6);
     margin: auto;
     color: #FFFFFF;
     padding: 10px 0px 10px 0px;
     text-align: center;
     border-radius: 15px 15px 0px 0px;

 }
 .main
    {
     background-color: rgba(0,0,0,0.5);
     width: 800px;
     margin: auto;    
    }
   form{
            padding: 50px;
        }
#name
 {
    position: relative;
    left:200px;
    top:-40px;
    line-height: 40px;
    width: 480;
    border-radius: 6px;
    padding:0 22px;
    font-size: 25px;
    color:#555; 

 }
 .Nom
{
    position:relative;
    left:200px;
    top: -40px;
    line-height: 40px;
    width: 480;
    border-radius: 6px;
    padding:0 22px;
    font-size: 25px;
    color:#555;
}
.Prenom{
    position: relative;
    left:200px;
    top:-40px;
    line-height: 40px;
    width: 480;
    border-radius: 6px;
    padding:0 22px;
   font-size: 25px;
   color:#555;
}
/* .Adresse{
    position: relative;
     left:200px;
     top: -40px; 
    /* line-height: 40px;
    width: 480;
    border-radius: 6px;
    padding:0 22px; */ 
   /* font-size: 16px; */
   /* color:rgb(77, 7, 42);  */
/* } */ 
button{
    background-color:#3BAF9F;
    display: block;
    margin: 20px 0px 0px 20px;
    text-align: center;
    border-radius: 12px;
    border: 2px solid #366643;
    padding: 14px 110px;
    outline: none;
    color: white;
    cursor: pointer;
    transition:0.25px ;
}
#Mere{
    position: relative;
    left:200px;
    top:-40px;
    line-height: 40px;
    width: 480;
    border-radius: 6px;
    padding:0 22px;
   font-size: 25px;
   color:#555;
}



